# Visual Studio
.vs/

# Build folders
bin/
obj/

# User files
*.user
*.suo

# Logs
*.log

# Rider
.idea/

# VS Code
.vscode/

# Node
node_modules/

# Environment files
.env

# ASP.NET secrets
appsettings.Development.json

# Database
*.db