@{
    ViewData["Title"] = "Sócio";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    

    <table class="table table-striped table-hover mt-3">
        <thead class="table-red">
            <tr>
                <th>Benefico</th>
                <th>Sócio</th>
                <th>Não Sócio</th>
            </tr>
            <tr>
                <th>Bilhete</th>
                <th>5% Desconto</th>
                <th>Valor Tabelado FPF</th>
                <th>Produtos</th>
                <th>10% Desconto</th>
                <th>VAlor Total</th>
            </tr>
        </thead>
       
    </table>
</div>